@media only screen and (max-width: 40.063em) /* max-width 641px */ {
  div.remodal-iframe {
    max-width: none;
    max-height: 100%;
  }
}

div.toolbar a.unframe-btn {
  position: absolute;
}

header.header a {
  max-width: 700px;
  margin: auto;
  display: block;
}
div.body-content, #categoryNav ul {
  max-width: 700px;
  margin: auto;
}


/* 
 * trial for iOS
 */
div.remodal-iframe div.remodal-content iframe {
  height: 10000px;
}
div.remodal-iframe div.remodal-content {
  overflow: auto;
}
