@media only screen and (max-width: 40.063em) /* max-width 641px */ {
  div.remodal-iframe {
    max-width: none;
    max-height: 100%;
  }
}


/* 
 * trial for iOS
 */
div.remodal-iframe div.remodal-content iframe {
  height: 10000px;
}
div.remodal-iframe div.remodal-content {
  overflow: auto;
}
